/*Master Styles*/

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: rgb(33, 119, 219);
}

.nav-wrapper p {
    border-bottom: tranparent;
    transition: border-bottom 0.5s;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-wrapper p:hover {
    border-bottom: solid 1px white;
    transition: 0.5s;
}

/*Main Content*/
.main-content {
    padding-bottom: 100px;
}
.content-wrapper {
    display: flex;
    justify-content: center;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
}

.logo-wrapper img {
    height: 500px;
    width: auto;
}

.services-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

.service-wrapper img {
    height: 100%;
    width: 300px;
    object-fit: cover;
    filter: brightness(50%);
    transition: .5s;
}

.service-wrapper img:hover {
    filter: brightness(100%);
    transition: filter .5s;
}

/* Footer Section */
.footer-content {
    padding-top: 50px;
    background-color: rgb(33, 119, 219);
}

.footer-text-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.footer-text-wrapper p {
    color: white;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 600;
}
.footer-subtext-wrapper {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.footer-subtext-wrapper p {
    color: white;
    font-weight: 300;
}

.creator-wrapper {
    text-align: center;
}

.creator-wrapper p {
    color: white;
    font-size: .9em;
    padding-top: 25px;
}